

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class ="main">
        <div class="jersey">
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Index", "Authorization")">
                    <img src="/Images/8.jpg" alt="jersey Image">
                </a>
            }
            else
            {
                <a href="@Url.Action("Index", "Training")">
                    <img src="/Images/8.jpg" alt="jersey Image">
                </a>
            }
        </div>
        <div class="fruit">
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Index", "Authorization")">
                    <img src="/Images/9.jpg" alt="fruit Image">
                </a>
            }
            else
            {
                <a href="@Url.Action("Index", "Eat")">
                    <img src="/Images/9.jpg" alt="fruit Image">
                </a>
            }
        </div>

    </div>
    
    
</div>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}